Flask==0.10.1
Flask-Bcrypt==0.5.2
Flask-Login==0.2.7
Flask-OAuthlib==0.3.3
Flask-RESTful==0.2.5
Flask-SQLAlchemy==1.0
Jinja2==2.7.1
MarkupSafe==0.18
SQLAlchemy==0.8.2
Wand==0.3.5
Werkzeug==0.9.4
argparse==1.2.1
itsdangerous==0.23
oauthlib==0.6.0
py-bcrypt==0.4
shortuuid==0.4
six==1.4.1
wsgiref==0.1.2
