{% extends "layout.html" %}
{% set active_page = "show" %}
{% block title %} : {{ upload.title }}{% endblock %}
{% block meta %}
{% if not upload.nsfw %}
		<meta name="twitter:card" content="photo">
		<meta name="twitter:site" content="@img_tl">
		<meta name="twitter:title" content="{{ upload.title }}">
		<meta name="twitter:image:src" content="{{ upload.direct_url }}">
{% endif %}
{% endblock %}
{% block head %}
<script src="/js/blur.js"></script>
<style type='text/css'>
{% set orientation = upload.object.prop.exif.Orientation %}
{% if orientation == '6' %}
{% set degree = 90 %}
{% elif orientation == '3' %}
{% set degree = 180 %}
{% elif orientation == '8' %}
{% set degree = 270 %}
{% else %}
{% set degree = 0 %}
{% endif %}
#content-image {
	image-orientation: {{ degree }}deg;
}
</style>
{% endblock %}
{% block wrap %}
	<section class="panel panel-success content-area">
		<div class="panel-heading">
			<h2 class="panel-title">{{ upload.title }}</h2>
		</div>

		<div class="panel-body">
			<div class="image-area">
				<a href="{{ upload.direct_url }}">
					<img src="{{ upload.direct_url }}" id="content-image" class="content-image{{ ' nsfw' if upload.nsfw }}" />
				</a>
			</div>
		</div>
	</section>

	<aside class="sidebar">
		<div class="panel panel-info sidebar-element">
			<div class="panel-heading">
				<small>링크</small>
			</div>

			<p>이미지 직접 링크</p>
			<input type="text" value="{{ upload.direct_url }}" class="form-control url-text" readonly />

			<p>페이지 링크</p>
			<input type="text" value="{{ upload.page_url }}" class="form-control url-text" readonly />
		</div>

		<div class="panel panel-info sidebar-element">
			<div class="panel-heading">
				<small>이미지 정보</small>
			</div>

			<div class="image-info">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td class='image-info-key'>이미지 크기</td>
							<td class='image-info-value'>{{ upload.object.prop.width }}px &times; {{ upload.object.prop.height }}px</td>
						</tr>
						<tr>
							<td class='image-info-key'>파일 크기</td>
							<td class='image-info-value'>{{ upload.object.prop.filesize | filesizeformat }}</td>
						</tr>
						<tr>
							<td class='image-info-key'>발생 트래픽</td>
							<td class='image-info-value'>{{ (upload.object.prop.filesize * upload.view_count) | filesizeformat }}</td>
						</tr>
						{% if (upload.object.prop.exif | count) != 0 %}
						<tr>
							<td colspan="2" class="image-info-button"><button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#exif-modal">EXIF 정보 보기</button></td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>

		<div class="panel panel-info sidebar-element">
			<div class="panel-heading">
				<small>업로드 정보</small>
			</div>

			<div class="image-desc">
				{{ (upload.desc or '') | nl2br }}
			</div>

			<div class="image-time">
				At {{ upload.time | dt }} (KST)
			</div>

			<div class="image-author">
				By {{ '(숨겨짐)' if upload.anonymous else (upload.user.name or '익명 사용자') }}
			</div>

			<div class="image-view-count">
				Viewed {{ upload.view_count }} times
			</div>

			{% if upload.expire_time %}
			<div class="image-time">
				{{ upload.expire_time | dt }} (KST) 에 만료
			</div>
			{% endif %}
		</div>
		{% if (user == upload.user) or (upload.id in session.anon_uploads) %}
		<div class="panel panel-warning sidebar-element">
			<div class="panel-heading">
				<small>이미지 옵션</small>
			</div>

			<div class="operation">
				<div class="upload-options">
					<div class="checkbox">
						<label>
							<input name="nsfw" type="checkbox"{{ (' checked="checked"' | safe) if upload.nsfw }}> <span class="tool-tip" data-toggle="tooltip" data-placement="right" title=" = 후방주의">민감한 내용으로 표시</span>
						</label>
					</div>
					{% if user.is_authenticated() %}
					<div class="checkbox">
						<label>
							<input name="anonymous" type="checkbox"{{ (' checked="checked"' | safe) if upload.anonymous }}> 누가 올렸는지 숨기기
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input name="private" type="checkbox"{{ (' checked="checked"' | safe) if upload.private }}> 나만 보기
						</label>
					</div>
					{% endif %}
				</div>

				<button id="update-submit-btn" class="btn btn-info btn-block">저장</button>
			</div>
		</div>

		<div class="panel panel-danger sidebar-element">
			<div class="panel-heading">
				<small>이미지 관리</small>
			</div>

			<div class="operation">
				<button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#delete-modal">이미지 지우기</button>
			</div>
		</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<a href="{{ url_for('tos') }}">이용 약관</a>
			</div>
		</div>
	</aside>

	{% if (upload.object.prop.exif | count) != 0 %}
	<div id="exif-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exif-modal-label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="delete-modal-label">이미지 EXIF 정보</h3>
				</div>
				<div class="modal-body">
					<table class="table table-striped table-condensed">
						<tbody>
							{% for k, v in upload.object.prop.exif | dictsort %}
							<tr>
								<td>{{ k }}</td>
								<td>{{ v }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	{% if (user == upload.user) or (upload.id in session.anon_uploads) %}
	<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="delete-modal-label">이미지 지우기</h3>
				</div>
				<div class="modal-body">
					<p>이미지를 지우시겠습니까? 지워진 이미지는 복구할 수 없습니다.</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">취소</button>
					<button class="btn btn-danger" id="delete-confirm-btn">지우기</a>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	{% if upload.nsfw %}
	<div id="nsfw-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="nsfw-modal-label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="nsfw-modal-label">민감한 내용의 이미지입니다.</h3>
				</div>
				<div class="modal-body">
					<p>이 이미지를 올린 사용자가 이 이미지를 민감한 내용이라고 표시했습니다. 열기 전 주의해주세요.</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">안 열기</button>
					<button class="btn btn-warning" id="shownsfw-confirm-btn">그래도 열기</a>
				</div>
			</div>
		</div>
	</div>
	<script>$("#nsfw-modal").modal("show");</script>
	{% endif %}
{% endblock %}
