/* width>=1260;default */

body {
    overflow: auto;
}

.center-box {
    height: 435px;
    width: 650px;

    position: relative;
    top: 10%;
	left: 50%;
    margin: auto auto 20px -325px;

    border: 1px solid #ddd;
    box-shadow: 5px 5px 20px #aaa;

    overflow: hidden;
}

.logo-wrapper {
    text-align: center;
}

.login-form, .register-form {
    margin: 25px 50px;
}

.register-form {
    display: none;
}

.form-title {
    height: 45px;
    font-size: 17pt;
}

hr.divider {
    border-top: 1px solid #ddd;
    margin: 0 -50px 18px -50px;
}

.error-help {
    display: none;
    margin-top: -20px;
    font-size: 12px;
    color: #b94a48;
    text-align: right;
}

/* width>=960;medium */
@media screen and (max-width: 1259px) {
}

/* width>=760;tablet */
@media screen and (max-width: 959px) {
	.center-box {
		top: 25px;
	}
}

/* width<760;phone */
@media screen and (max-width: 759px) {
	.center-box {
		left: auto;
		top: 5px;
		margin-left: 5px;
		width: calc(100% - 10px);
	}
	
	.login-form, .register-form {
    margin: 25px;
	}
}
