/* width>=1260;default */

body {
	overflow: auto;
}

.logo-wrapper {
	text-align: center;
}

.login-form, .signup-form {
	margin: 25px 50px;
}

.signup-form {
	display: none;
}

.form-title {
	height: 45px;
	font-size: 17pt;
}

hr.divider {
	border-top: 1px solid #ddd;
	margin: 0 -50px 18px -50px;
}

.error-help {
	display: none;
	margin-top: -16px;
	font-size: 12px;
	color: #b94a48;
	text-align: right;
}

/* width>=960;medium */
@media screen and (max-width: 1259px) {
}

/* width>=760;tablet */
@media screen and (max-width: 959px) {
	.center-box {
		top: 25px;
	}
}

/* width<760;phone */
@media screen and (max-width: 759px) {
	.center-box {
		left: auto;
		top: 5px;
		margin-left: 5px;
		width: calc(100% - 10px);
	}
	
	.login-form, .signup-form {
	margin: 25px;
	}
}
