/* width>=1260;default */

body {
	overflow: auto;
}

.logo {
	margin: 35px auto 30px auto;
}

.center-box {
	height: 450px;
	width: 650px;

	text-align: center;

	position: absolute;
	left: 50%;
	top: 50%;
	margin: -225px auto 20px -325px;

	border: 1px solid #ddd;
	box-shadow: 5px 5px 20px #aaa;

	overflow: hidden;
}

.wrapper {
	width: 250px;
	margin: 15px auto;
	position: relative;
}

.main-area {
	height: 400px;
	padding: 25px;
}

.upload-area {
	height: 400px;
	padding: 25px;
}

.main-area > .row > .btn {
	margin: 5px;
	width: 250px;
}

#upload-icon-frame {
	display: inline-block;

	border: 4px dashed #aaa;
	border-radius: 10px;

	padding: 15px;
	margin: 30px auto 10px auto;
}

#upload-icon {
	width: 170px;
	height: 170px;

	border-radius: 10px;

	background-image: url('/img/logo_tiny.png');
	background-position: center;
	background-repeat: no-repeat;
}

.upload-options {
	width: 140px;
	margin: 0px auto;
}

.login-link {
	top: 0;
	right: 0;
	
	float: right;
	position: absolute;
	
	margin: 7px 7px 0 0;
	
	text-align: right;
}

#submit-btn {
	display: block;
	margin: auto;
}

/* width>=960;medium */
@media screen and (max-width: 1259px) {
}

/* width>=760;tablet */
@media screen and (max-width: 959px) {
}

/* width<760;phone */
@media screen and (max-width: 759px) {
	.center-box {
		left: auto;
		top: auto;
		margin: 5px;
		width: calc(100% - 10px);
	}

	#filename-text {
		width: 200px;
	}

	#submit-btn {
		width: 265px !important;
	}
}
