/* width>=1260;default */

.image-grid {
    margin-right: 285px;
}

.image-area {
    font-size: 0px;
}

.grid-item {
    width: 135px;
    height: 135px;
    margin: 5px;
    
    display: inline-block;
    
    border: solid 1px rgba(49, 176, 213, 0);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    cursor: pointer;
}

.grid-item:hover {
    color: inherit;
    text-decoration: none;
}

/* width>=960;medium */
@media screen and (max-width: 1259px) {
}

/* width>=760;tablet */
@media screen and (max-width: 959px) {

	.grid-item {
		width: 124px;
		height: 124px;
	}
}

/* width<760;phone */
@media screen and (max-width: 759px) {
	.grid-item {
		width: 70px;
		height: 70px;
	}
}
