.image-grid {
    min-height: 500px;
    margin-right: 285px;
}

.image-area {
    font-size: 0px;
}

.grid-item {
    width: 135px;
    height: 135px;
    margin: 5px;
    
    display: inline-block;
    
    border: solid 1px rgba(49, 176, 213, 0);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    cursor: pointer;
}

.grid-item:hover {
    color: inherit;
    text-decoration: none;
}
