/* width>=1260;default */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

h1, h2, h3, div, p, header, aside, section, footer, span, input {
	font-family: 'NanumGothic', sans-serif;
}


.center-box {
	height: 500px;
	width: 650px;

	position: relative;
	left: 50%;
	top: 50%;
	margin: -225px 0 0 -325px;

	border: 1px solid #ddd;
	box-shadow: 5px 5px 20px #aaa;

	overflow: visible;
	background-color: white;
}


.outer-wrap {
	width: 1200px;
	min-height: 100%;

	margin: 0px auto;

	padding: 20px;

	border: 1px solid #ddd;

	background-color: white;
}

.wrap {
	position: relative;
}

.header {
	margin: 0 0 20px 0;
}

.myinfo > .top-desc > div {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.myinfo > .top-desc > .user-icon {
	width: 48px;
	height: 48px;
	float: left;
	margin-right: 10px;
}

.myinfo > .top-desc > .username {
	height: 24px;
	line-height: 24px;
	font-size: 16pt;
}

.myinfo > .top-desc > .email {
	height: 24px;
	line-height: 24px;
	font-size: 10pt;
}

.top-logo {
	width: 160px;
}

.hand-cursor {
	cursor: pointer;
}

.default-cursor {
	cursor: default;
}

.content-area {
	width: calc(100% - 265px);
	margin-bottom: 10px;
	float: left;
}

.sidebar {
	width: 250px;
	float: right;
}

#file-input {
	display: none;
}

.alert-area {
	position: fixed;

	left: 50%;
	top: -70px;

	width: 35%;
	text-align: center;

	margin: 20px 0 0 -17.5%;
	padding: 12px;

	opacity: 0;

	z-index: 65535;
}

.white-overlay {
	width: 100%;
	height: 100%;

	position: fixed;
	display: none;

	left: 0;
	top: 0;

	opacity: 0;
	background-color: white;

	z-index: 11999;
}

hr.divider {
	border-top: 1px solid #ddd;
	margin: 10px -10px;
}

#expire-custom {
	text-align: right;
}

#expire-custom-unitdd {
	text-align: left;
}

#expire-behavior-wrap {
	margin-bottom: 15px;
}

.form-control[disabled], .form-control[readonly], .fieldset[disabled] .form-control {
	cursor: default !important;
}

/* width>=960;medium */
@media screen and (max-width: 1259px) {
	.outer-wrap {
		width: 905px;
	}
}

/* width>=760;tablet */
@media screen and (max-width: 959px) {
	.outer-wrap {
		width: calc(100% - 56px);
	}

	.myinfo>:not(:first-child) {
		display: none;
	}

	.myinfo>.top-desc>.user-icon {
		margin-bottom: auto;
	}

	hr.divider {
		margin-top: 10px;
	}
}

/* width<760;phone */
@media screen and (max-width: 759px) {
	.outer-wrap {
		width: calc(100% - 42px);
	}

	.header .btn {
		font-size: 0px;
		color: transparent;
	}

	.header .btn>i {
		vertical-align: middle;
	}

	.content-area {
		width: 100%;
	}

	.sidebar {
		width: 100%;
		position: relative;
	}
}
