/* width>=1260;default */

.sidebar {
    padding: 0 !important;
}

.myinfo {
    padding: 10px;
}

.settings-area {
    margin-right: 285px;
}

.error-help {
    display: none;
    margin-top: -20px;
    font-size: 12px;
    color: #b94a48;
    text-align: right;
}

#inputToken {
    background-color: white;
    cursor: default;
}

/* width>=960;medium */
@media screen and (max-width: 1259px) {
}

/* width>=760;tablet */
@media screen and (max-width: 959px) {
	.settings-area {
		width: initial;
		margin: auto;
	}
}

/* width<760;phone */
@media screen and (max-width: 759px) {
}
