{% extends "common.html" %}
{% block head %}{% endblock %}
{% block body %}
	<div class="wrap">
		<header class="header">
			<a href="/">
				<img src="/img/logo_small.png" class="top-logo" />
			</a>
			
			<div class="btn-group pull-right user-menu">
				{% if user.is_anonymous() %}
				<a class="btn btn-primary hand-cursor" href="{{ url_for('login') }}">로그인 / 가입</a>
				{% else %}
				<a class="btn btn-primary hand-cursor" href="{{ url_for('index') }}"><span class="glyphicon glyphicon-user glyphicon-white"></span> {{ user.name }}</a>
				<a class="btn btn-primary hand-cursor dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
				{% endif %}
				
				<ul class="dropdown-menu">
					<li><a href="/settings">설정</a></li>
					<li><a href="/logout">로그아웃</a></li>
				</ul>
			</div>
		</header>
		{% block wrap %}{% endblock %}
	</div>
	{% block content %}{% endblock %}
{% endblock %}
