{% extends "common.html" %}
{% set active_page = "login" %}
{% block body %}
	<div class="center-box login-area">
		<div class="logo-wrapper">
			<a href="/">
				<img class="logo" src="/img/logo_medium.png" style="max-width: 200px;" />
			</a>
		</div>
		
		<form class="login-form" action="{{ url_for('login') }}" method="post">
			<div class="form-title">Login</div>
			
			<div class="control-group">
				<label class="control-label" for="inputEmail">E-Mail or Username</label>
				<input type="text" id="inputEmail" name="emailuser" class="input-block-level" placeholder="E-Mail" maxlength="120" autofocus />
			</div>
			
			<div class="control-group">
				<label class="control-label" for="inputPassword" style="margin-top: 7px;">Password</label>
				<input type="password" id="inputPassword" name="password" class="input-block-level" placeholder="Password" />
			</div>
			
			<div style="margin: 10px 0 70px 0;">
				<button type="submit" class="btn btn-large btn-primary pull-right">Sign in</button>
			</div>
			
			<hr class="divider" />
			
			<a href="#register" class="btn btn-large btn-info btn-block">Register</a>
		</form>
		
		<form class="register-form" action="{{ url_for('signup') }}" method="post">
			<div class="form-title">Register</div>
			
			<div class="control-group">
				<label class="control-label" for="inputREmail">E-Mail</label>
				<div class="error-help"></div>
				<input type="text" id="inputREmail" name="email" class="input-block-level" maxlength="120" placeholder="E-Mail" />
			</div>
			
			<div class="control-group">
				<label class="control-label" for="inputRUsername">Username</label>
				<div class="error-help"></div>
				<input type="text" id="inputRUsername" name="username" class="input-block-level" maxlength="16" placeholder="Username" />
			</div>
			
			<div class="control-group">
				<label class="control-label" for="inputRPassword" style="margin-top: 7px;">Password</label>
				<div class="error-help"></div>
				<input type="password" id="inputRPassword" name="password" class="input-block-level" placeholder="Password" />
			</div>
			
			<div class="control-group">
				<label class="control-label" for="inputRPasswordConfirm" style="margin-top: 7px;">Password confirm</label>
				<div class="error-help"></div>
				<input type="password" id="inputRPasswordConfirm" name="passwordconfirm" class="input-block-level" placeholder="Password confirm" />
			</div>
			
			<div style="margin: 10px 0 70px 0;">
				<button type="submit" id="register-submit-btn" class="btn btn-large btn-primary pull-right">Register</button>
			</div>
			
			<hr class="divider" />
			
			<a href="#login" class="btn btn-large btn-info btn-block">Login</a>
		</form>
	</div>
{% endblock %}
