{% extends "layout.html" %}
{% set active_page = "mypage" %}
{% block title %}: My Page{% endblock %}

{% block head %}
<link href="/css/userinfo.css" rel="stylesheet" />

<script type="text/javascript" src="/js/upload.js"></script>
{% endblock %}

{% block container %}
	<aside class="panel sidebar">
		<div class="myinfo">
			<div class="top-desc">
				<img class="user-icon" src="{{ user.profile_image_url }}" />
				<span class="username">{{ user.name }}</span>
				<span class="email">{{ user.email }}</span>
			</div>
			<div class="desc">
				<dl>
					<dt>Image count</dt>
					<dd>{{ user.uploads.all() | count }}</dd>
				</dl>
			</div>
		</div>
		
		<hr class="divider" />
		
		<div class="upload-area">
			<div>
				<div id="upload-icon-frame">
					<div id="upload-icon"></div>
				</div>
			</div>
			
			<div class="input-append">
				<input class="input-block-level" id="filename-text" type="text" />
				<button id="select-btn" class="btn" type="button">Select</button>
			</div>
			
			<button id="submit-btn" class="btn btn-info btn-large btn-block">Upload!</button>
			
			<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" hidden>
				<input type="file" id="file-input" name="image" />
			</form>
		</div>
	</aside>
	
	<section class="panel image-grid">
		<div class="panel-heading">
			<small>My Images</small>
		</div>
	</section>
{% endblock %}
