{% extends "layout.html" %}
{% set active_page = "settings" %}
{% block title %}: Settings{% endblock %}

{% block head %}
<link href="/css/userinfo.css" rel="stylesheet" />
{% endblock %}

{% block wrap %}
	<aside class="panel panel-default sidebar">
		<div class="panel-body">
			<div class="myinfo">
				<div class="top-desc">
					<img class="user-icon" src="{{ user.profile_image_url }}" />
					<span class="username">{{ user.name }}</span>
					<span class="email">{{ user.email }}</span>
				</div>
				<div class="desc">
					<dl>
						<dt>올린 이미지 수</dt>
						<dd>{{ user.uploads.all() | count }}</dd>
					</dl>
				</div>
			</div>
		</div>
	</aside>

	<section class="panel panel-default settings-area">
		<div class="panel-body">
			<ul class="nav nav-tabs nav-tabs-google" style="height: 39px;">
				<li class="active"><a href="#account" data-toggle="tab">계정</a></li>
				<li><a href="#token" data-toggle="tab">API 토큰</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="account">
					<form id="updateform" method="POST">
						<div class="form-group">
							<label class="control-label" for="inputREmail">이메일</label>
							<div class="error-help"></div>
							<input type="text" id="inputREmail" name="email" class="form-control" maxlength="120" placeholder="이메일" value="{{ user.email or '' }}" except="{{ user.email or '' }}" />
						</div>

						<div class="form-group">
							<label class="control-label" for="inputRUsername">사용자명</label>
							<div class="error-help"></div>
							<input type="text" id="inputRUsername" name="username" class="form-control" maxlength="16" placeholder="사용자명" value="{{ user.name }}" except="{{ user.name }}" />
						</div>
						{% if not user.oauth_uid %}
						<div class="form-group">
							<label class="control-label" for="inputRPassword">비밀번호</label>
							<div class="error-help"></div>
							<input type="password" id="inputRPassword" name="password" class="form-control" placeholder="비밀번호"/>
						</div>

						<div class="form-group">
							<label class="control-label" for="inputRPasswordConfirm">비밀번호 확인</label>
							<div class="error-help"></div>
							<input type="password" id="inputRPasswordConfirm" name="passwordconfirm" class="form-control" placeholder="비밀번호 확인" />
						</div>
						{% endif %}

						<div style="margin: 10px 0 47px 0;">
							<input type='hidden' name='what' value='update' />
							<button type="submit" id="update-submit-button" class="btn btn-primary pull-right">저장</button>
						</div>
					</form>
				</div>

				<div class="tab-pane" id="token">
					<div class="form-group">
						<label class="control-label" for="inputToken">토큰</label>
						<input type="text" id="inputToken" name="token" class="form-control" value="{{user.token}}" readonly />
					</div>

					<div style="margin: 10px 0 47px 0;">
						<button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#token-modal">토큰 재발급</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div id="token-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="token-modal-label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="token-modal-label">경고!</h3>
				</div>

				<div class="modal-body">
					<p>토큰 재발급시 기존 토큰은 무효화되며, 해당 토큰을 사용하는 앱에 새 토큰을 넣어줘야 합니다.</p>
					<p>계속하시겠습니까?</p>
				</div>

				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">취소</button>
					<button class="btn btn-danger" id="token-reissue-btn">재발급</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
