<!doctype html>
<html>
	<head>
		<title>ImgTL{% block title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		{% block meta %}{% endblock %}
		
		<link href="/css/bootstrap.css" rel="stylesheet" />
		<link href="/css/todc-bootstrap.css" rel="stylesheet" />
		<link href="/css/select2.css" rel="stylesheet" />
		
		<link href="/css/common.css" rel="stylesheet" />
		<link href="/css/{{ active_page }}.css" rel="stylesheet" />
		
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/select2.min.js"></script>
		
		<script src="/js/common.js"></script>

		{% block head %}{% endblock %}
	</head>

	<body>
	{% block body %}{% endblock %}
	{% with messages = get_flashed_messages(with_categories=true) %}
		<div class="alert alert-danger alert-area" id="error-area">
			<span id="msg-text"></span>
		</div>

		<div class="alert alert-success alert-area" id="success-area">
			<span id="msg-text"></span>
		</div>

		<div class="white-overlay"></div>

		{% if messages %}
		{% set category, message = messages[0] %}
		<script>show{{ category | capitalize }}("{{ message }}");</script>
		{% endif %}
	{% endwith %}
	</body>
</html>
