{% extends "layout.html" %}
{% set active_page = "mypage" %}
{% block title %}: 내 이미지{% endblock %}

{% block head %}
<script type="text/javascript" src="/js/upload.js"></script>
<script type="text/javascript" src="/js/freewall.js"></script>
<script type="text/javascript" src="/js/mypage.js"></script>
{% endblock %}

{% block wrap %}
	<article class="panel panel-info contents image-grid">
		<div class="panel-heading">
			<h3 class="panel-title">내 이미지들</h3>
		</div>
		<div class="panel-body">
			<div class="image-area">
			{% for upload in user.uploads | reverse %}
				<a href="/{{ upload.url }}"{{ (' class="nsfw"' | safe) if upload.nsfw }}><div class="grid-item" style="width: {{ range(150, 300) | random }}px; height: 200px; background-image: url('{{ upload.thumbnail_url}}');"></div></a>
			{% endfor %}
			</div>
		</div>
	</article>

	<aside class="panel panel-default sidebar">
		<div class="panel-body">
			<div class="myinfo">
				<div class="top-desc">
					<img class="user-icon img-circle" src="{{ user.profile_image_url }}" />
					<div class="username" title="{{ user.name }}">{{ user.name }}</div>
					<div class="email" title="{{ user.email }}">{{ user.email }}</div>
				</div>
			</div>
			<hr class="divider" />
			<div class="desc">
				<b>총 올린 이미지 수</b>: <span class="pull-right">{{ user.uploads.all() | count }}개</span>
			</div>

			<hr class="divider" />

			<div class="imagegrid-options">
				<b>내 이미지들 표시 옵션</b>
				<div class="checkbox">
					<label>
						<input id="show-nsfw" type="checkbox"> 민감한 내용의 사진 표시
					</label>
				</div>
			</div>

			<hr class="divider" />

			<div class="upload-area">
				<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
					<div>
						<div id="upload-icon-frame">
							<div id="upload-icon"></div>
						</div>
					</div>

					<div class="input-group">
						<input class="form-control" id="filename-text" type="text" />
						<span class="input-group-btn">
							<button id="select-btn" class="btn btn-default" type="button">선택</button>
						</span>
					</div>

					<div class="upload-options">
						<div class="checkbox">
							<label>
								<input name="nsfw" type="checkbox"> <span class="tool-tip" data-toggle="tooltip" data-placement="right" title=" = 후방주의">민감한 내용으로 표시</span>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="anonymous" type="checkbox"> 누가 올렸는지 숨기기
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="private" type="checkbox"> 나만 보기
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="keep-exif" type="checkbox" checked='checked'> EXIF 태그 유지
							</label>
						</div>
						<select id="expire" name="expire" class="form-control">
							<option value="-1" selected='selected'>만료되지 않음</option>
							<option value="2">2분</option>
							<option value="5">5분</option>
							<option value="10">10분</option>
							<option value="30">30분</option>
							<option value="60">1시간</option>
							<option value="1440">24시간</option>
							<option value="0">직접 입력</option>
						</select>
						<div id="expire-custom-wrap" class="input-group hidden">
							<input type="text" pattern="\d*" id="expire-custom" name="expire-custom" class="form-control">
							<div class="input-group-btn">
								<input type="hidden" id="expire-custom-unit" name="expire-custom-unit" value="1">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span id="expire-custom-unit-text">분</span> <span class="caret"></span></button>
								<ul id="expire-custom-unitdd" class="dropdown-menu pull-right">
									<li><a data-value="1" class="hand-cursor">분</a></li>
									<li><a data-value="60" class="hand-cursor">시간</a></li>
									<li><a data-value="1440" class="hand-cursor">일</a></li>
									<li><a data-value="43200" class="hand-cursor">달 (30일)</a></li>
								</ul>
							</div>
						</div>
						<div id="expire-behavior-wrap" class="pull-right hidden">
							만료시:&nbsp;
							<label class="radio-inline">
								<input type="radio" name="expire-behavior" value="delete" checked="checked"> 지우기
							</label>
							<label class="radio-inline">
								<input type="radio" name="expire-behavior" value="private"> 나만 보기
							</label>
						</div>
					</div>
					<button id="submit-btn" class="btn btn-info btn-lg btn-block">올리기</button>
					<input type="file" id="file-input" name="image" />
				</form>
			</div>

			<hr class='divider' />

			<div class="text-center">
				<a href="{{ url_for('tos') }}">이용 약관</a>
			</div>
		</div>
	</aside>
{% endblock %}
