{% extends "layout.html" %}
{% set active_page = "settings" %}
{% block title %}: 설정{% endblock %}
{% block head %}
<script src="/js/account_validate.js"></script>
<script src="/js/settings.js"></script>
{% endblock %}
{% block wrap %}
	<article class="panel panel-default contents">
		<div class="panel-body">
			<ul class="nav nav-tabs nav-tabs-google">
				<li class="active"><a href="#account" data-toggle="tab">계정</a></li>
				{% if user.id %}
				<li><a href="#token" data-toggle="tab">API 토큰</a></li>
				<li><a href="#oauth" data-toggle="tab">외부 계정 연결</a></li>
				{% endif %}
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="account">
					<form class="validate-form" method="POST">
						<div class="form-group">
							<label class="control-label" for="a_email">이메일</label>
							<div class="error-help"></div>
							<input type="text" id="a_email" name="email" class="form-control validate-email" maxlength="120" placeholder="이메일" value="{{ user.email or '' }}" except="{{ user.email or '' }}" />
						</div>

						<div class="form-group">
							<label class="control-label" for="a_username">사용자명</label>
							<div class="error-help"></div>
							<input type="text" id="a_username" name="username" class="form-control validate-username" maxlength="16" placeholder="사용자명" value="{{ user.name }}" except="{{ user.name }}" />
						</div>

						<div class="form-group">
							<label class="control-label" for="a_password">비밀번호</label>
							<div class="error-help"></div>
							<input type="password" id="a_password" name="password" class="form-control validate-password" placeholder="비밀번호"/>
						</div>

						<div class="form-group">
							<label class="control-label" for="a_passwordconfirm">비밀번호 확인</label>
							<div class="error-help"></div>
							<input type="password" id="a_passwordconfirm" name="passwordconfirm" class="form-control validate-pwconfirm" placeholder="비밀번호 확인" />
						</div>

						<input type="hidden" name="what" value="update" />
						<button type="submit" class="btn btn-primary pull-right validate-submit">저장</button>
					</form>
				</div>
				{% if user.id %}
				<div class="tab-pane" id="token">
					<div class="form-group">
						<label class="control-label" for="t_token">토큰</label>
						<input type="text" id="t_token" name="token" class="form-control copytext" value="{{user.token}}" readonly />
					</div>

					<div style="margin: 10px 0 47px 0;">
						<button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#token-modal">토큰 재발급</button>
					</div>
				</div>

				<div class="tab-pane" id="oauth">
					<div class="form-group">
						<label>연결된 외부 계정</label>
						<div class="oauth-account">
							{% if twitter %}
							<img class="user-icon img-circle" src="{{ twitter.profile_image_url_https }}" />
							<div class="username" title="{{ twitter.screen_name }}">{{ twitter.screen_name }}</div>
							<a href="{{ url_for('oauth_disconnect') }}">연결 끊기</a>
							{% else %}
							<a href="{{ url_for('oauth_connect') }}">외부 계정 연결하기</a>
							{% endif %}
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</article>

	<aside class="panel panel-default sidebar">
		<div class="panel-body">
			<div class="myinfo">
				<div class="top-desc">
					<img class="user-icon img-circle" src="{{ user.profile_image_url }}" />
					<div class="username" title="{{ user.name }}">{{ user.name }}</div>
					<div class="email" title="{{ user.email }}">{{ user.email }}</div>
				</div>
			</div>
		</div>
	</aside>

	<div id="token-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="token-modal-label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="token-modal-label">경고!</h3>
				</div>

				<div class="modal-body">
					<p>토큰 재발급시 기존 토큰은 무효화되며, 해당 토큰을 사용하는 앱에 새 토큰을 넣어줘야 합니다.</p>
					<p>계속하시겠습니까?</p>
				</div>

				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">취소</button>
					<button class="btn btn-danger" id="token-modal-ok">재발급</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
