{% extends "layout.html" %}
{% set active_page = "tos" %}
{% block title %}: 이용 약관{% endblock %}

{% block wrap %}
	<section class="panel panel-info settings-area">
		<div class="panel-heading">
			<h3 class="panel-title">이용 약관</h3>
		</div>
		<div class="panel-body">
			<h4>면책 조항</h4>
			<ol>
				<li>[imgTL]의 서비스를 사용함으로써 발생하는 문제에 대한 책임은 모두 사용자에게 귀속됩니다</li>
				<li>[imgTL]에 업로드 된 이미지에 대한 모든 책임은 업로드를 한 사용자(익명 사용자 포함)에게 귀속됩니다.</li>
				<li>업로드 된 이미지가 사고(천재지변, 배드 섹터)등의 이유로 일부 혹은 전체가 손실 또는 유실됐을 경우 [imgTL]은 관련 책임을 지지 않습니다.</li>
			</ol>
			<h4>이미지 정책</h4>
			<ol>
				<li>[imgTL]에 업로드 된 이미지가 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 대한민국 법 또는 관련 규제, 또는 시행령 등에 심히 위반될 시 [imgTL]은 사용자에게 사전 통보 없이 임의로 이미지를 비공개 처리할 수 있습니다.</li>
				<li>관련 기관에서 해당 법에 근거해 공적으로 [imgTL]에 업로드 된 이미지에 대한 정보의 삭제 요청이 들어올 경우 [imgTL]은 사용자에게 사전 통보 없이 임의로 이미지를 삭제 처리할 수 있습니다.</li>
				<li>기타 사회 전반적으로 심한 불쾌감을 줄 수 있는 이미지에 대하여 [imgTL]은 사용자에게 사전 통보 없이 임의로 이미지를 비공개 처리할 수 있습니다.</li>
				<li>대용량의 이미지를 짧은 시간 내에 올리는 행위 등을 통해 의도적으로 과다한 트래픽을 발생시킬 경우 [imgTL]은 사용자에게 사전 통보 없이 임의로 이미지를 삭제 처리 후 사용자를 차단할 수 있습니다.</li>
			</ol>
			<h4>이미지 모니터링</h4>
			<ol>
				<li>[imgTL]은 상기한 이미지 정책을 지속해서 위반하는 사용자에 대하여 사전 통보 없이 모니터링 조치를 취할 수 있습니다.</li>
				<li>[imgTL]은 특정 사용자를 대상으로 한 모니터링만으로 이미지 정책 위반 행위를 막기에는 역부족하다고 판단이 될 때 업로드 되는 모든 이미지에 대해 사전 통보 없이 모니터링 조치를 취할 수 있습니다.</li>
				<li>상기한 모든 모니터링 조치에는 사용자가 '나만 보기'로 올린 이미지는 포함되지 않습니다.</li>
			</ol>
			<h4>이미지 외부 링크</h4>
			<ol>
				<li>[imgTL]에 올린 이미지를 외부 사이트에서 &lt;img&gt; 태그 등을 사용해 직접 첨부를 하는 것을 허용합니다.</li>
				<li>단, 특정 이미지의 외부 트래픽이 [imgTL]의 서비스 운영에 지장을 준다고 판단될 경우 해당 게시물로의 외부 링크에 한하여 일시적인 해상도 저하 또는 해당 게시물에 대한 일시적인 외부 링크 차단 조치를 취할 수 있습니다.</li>
				<li>[imgTL]에 올린 이미지를 외부 사이트에 사용하여 발생한 문제에 대해서 [imgTL]은 관련 책임을 지지 않습니다.</li>
			</ol>
			<hr class="divider" />
			<h4>개인정보의 수집 및 이용</h4>
			<ol>
				<li>[ImgTL]은 다음 항목을 수집합니다.</li>
				<ul>
					<li>사용자의 경우: 가입 당시의 IP 주소, 이메일 주소, 사용자명, 비밀번호</li>
					<li>익명 사용자의 경우: 업로드 한 IP 주소, 이미지를 삭제한 IP 주소</li>
					<li>사용자 인증을 위해 현재 IP 주소와 User-Agent 값이 세션 혹은 쿠키에 저장될 수 있습니다.</li>
				</ul>
				<li>[ImgTL]은 다음과 같은 용도로 상기한 개인정보를 이용할 수 있습니다.</li>
				<ul>
					<li>사용자 관리와 서비스 제공, 서비스 부정 이용 제재, 가입 제한, 특이사항의 연락</li>
				</ul>
				<li>개인정보의 보유 및 이용 기간</li>
				<ul>
					<li>[imgTL]은 가입 시부터 서비스를 제공하는 기간에 한해 회원의 개인정보를 보유 및 이용합니다.</li>
					<li>가입시 수집한 개인정보는 탈퇴 즉시 폐기되며, 익명 사용자의 서비스 이용 과정에서 수집된 IP 주소 등의 개인정보는 해당 수집 일자로부터 반영구적으로 보관됩니다.</li>
					<li>다만, 관계 법령 위반에 따른 수사, 조사 등이 진행 중인 경우에는 해당 수사/조사가 진행 완료 시까지 보존합니다.</li>
				</ul>
			</ol>
			<h4>이용 약관의 게시와 개정</h4>
			<ol>
				<li>[imgTL]은 관련법을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.</li>
				<li>만일 개정 내용이 사용자에게 불리한 경우에는 적용 일자 30일 이전부터 적용 일자 전일까지 모든 페이지 상단에 공지합니다.</li>
				<li>[imgTL]이 상기한 약관에 따라 개정 약관을 공지한 후 사용자가 명시적으로 거부 표시를 하지 않은 경우 개정 약관에 동의한 것으로 간주합니다.</li>
				<li>사용자가 개정 약관의 적용에 동의하지 않는 경우 [imgTL]은 개정 약관의 내용을 해당 회원에게 적용할 수 없으며, 개정 약관의 내용이 해당 사용자의 활동과 정면으로 위배될 경우 [imgTL]은 해당 사용자의 활동을 중지시킬 수 있습니다.</li>
			</ol>
		</div>
	</section>
{% endblock %}
