@import '_variables';
@import 'upload';

.outer-wrapper,
.inner-wrapper {
  height: 490px;
}

.outer-wrapper {
  border: 0;
}

.panel {
  height: 100%;
}

.panel-body {
  width: 300px;
  margin: 0 auto;
}

.tos-link {
  margin-top: 10px;
}

// width>=960;medium
@media screen and (max-width: $break-medium) {}

// width>=760;tablet
@media screen and (max-width: $break-tablet) {}

// width<760;phone
@media screen and (max-width: $break-phone) {
  .top-logo {
    width: 50%;
  }

  .panel-body {
    width: 100%;
  }
}
