@import 'variables';
@import 'hideusermenu';

.outer-wrapper {
  border: 0;
}

.main-table {
  width: 100%;

  > tbody > tr > td {
    width: 50%;
    padding: 50px;
    vertical-align: top;
  }
}

.login-form {
  overflow: hidden;
}

.form-title {
  height: 45px;
  font-size: 17pt;
}

.help-text {
  float: left;
  margin: 0 10px 5px 0;
}

.oauth-login {
  clear: both;
  margin: 30px 0 0 0;

  .oauth-title {
    height: 45px;
    font-size: 17pt;
  }
}

@media screen and (max-width: $break-medium) {
}

@media screen and (max-width: $break-tablet) {
}

@media screen and (max-width: $break-phone) {
  .main-table {
    &,
    > tbody,
    > tbody > tr,
    > tbody > tr > td {
      display: block;
      width: 100%;
      border: 0;
    }

    > tbody > tr > td {
      padding-bottom: 100px;

      &:first-child {
        border-bottom: 1px solid #ddd !important;
      }
    }
  }
}
